@import "@styles/styles.global";


.text[data-pt-text-variant=primary] {
    @include text-base($color-white, $font-size-text-small);

    @include viewer-portable-tablet() {
        @include  text-base($font-size-text-medium, $color-base-grey);
    }
}

.text[data-pt-text-variant=secondary] {
    @include text-base($font-size-text-medium, $color-white);

    @include viewer-portable-tablet() {
        @include text-base($font-size-text-medium, $color-white);
    }
}

.text[data-pt-text-variant=primary][data-pt-text-title=true] {
    @include text-base($font-size-title-h3, $color-base-blue-dark );
}
.text[data-pt-text-variant=secondary][data-pt-text-title=true] {
    @include text-base( $font-size-title-h1, $color-secondary);
}