.containerstyleguide {
    background-color: #ececec;

    p, div, h1, h2, h3{
        margin: unset;
    }

    section {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .containerContentComponent {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            border-bottom: 1px solid #d3d2d2;
            padding: 2rem 1rem;

            .containerComponent {
                display: flex;
                gap: 0.5rem;
                flex-direction: column;
                padding: 1rem;

                border: solid 1px #d3d3d3;
                border-radius: 8px;
                box-shadow: 0px 4px 4px #d3d3d3;
            }
        }
    }
}

