$color-primary: #413CCB;
$color-secondary: #D5F08F;
$color-white-base: #FBF7FF;
$color-base-blue-dark: #2F4858;
$color-base-grey: #797585;
$color-base-grey-opacity: #79758540;
$color-base-green-dark: #007689;
$color-base-blue: #0099DE;
$font-size-title-h1: 32px;
$font-size-title-h2: 26px;
$font-size-title-h3: 24px;
$font-size-text-default: 16px;
$font-size-text-small: 10px;
$font-family-nunito: "Nunito", sans-serif;
