@import  "@styles/styles.global";

.button[data-pt-button-variant] {
    @include flex($gap: $spacing-default);
    cursor: pointer;
}

.button[data-pt-button-variant=primary] {
    border-image: $color-gradient-primary 1;

    [data-pt-text-variant] {
        @include text-base($color: $color-white ,$size: $font-size-text-small, $weight: 700);
    }

    [data-pt-icon] {
        width: 14px;
        height: 14px;
    }
}

.button[data-pt-button-variant=secondary] {
    border-image: $color-gradient-secondary 1;
    
    [data-pt-text-variant] {
        @include text-base($color: $color-base-blue-dark, $size: $font-size-text-small, $weight: 700)
    }

    [data-pt-icon] {
        width: 14px;
        height: 14px;
    }
}