@import "@styles/variables";
@import "./mixins";

.button[data-pt-button-variant] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.button[data-pt-button-variant=primary] {
    @include pt-border-cta;
    border-image: $color-gradient-primary 1;

    [data-pt-text-variant] {
        @include pt-styles-text;
    }
}

.button[data-pt-button-variant=secondary] {
    @include pt-border-cta;
    border-image: $color-gradient-secondary 1;
    
    [data-pt-text-variant] {
        @include pt-styles-text;
    }
}