@import "@styles/variables";
@import "./mixins";

.button[data-pt-button-variant] {
    @include pt-button-container-default;
}

.button[data-pt-button-variant=primary] {
    border-image: $color-gradient-primary 1;

    [data-pt-text-variant] {
        @include pt-styles-text;
         color: $color-white;
    }

    [data-pt-icon] {
        @include pt-width-icon;
    }
}

.button[data-pt-button-variant=secondary] {
    border-image: $color-gradient-secondary 1;
    
    [data-pt-text-variant] {
        @include pt-styles-text;
        color: $color-base-blue-dark;
    }

    [data-pt-icon] {
        @include pt-width-icon;
    }
}